.mmm{
    width: 200px;
}
.nnn{
    background-color: #bd0f32;
}
.bbb{
    background-color: #0056b3;
}
.vvv{
    background-color: #04a5a5;
    border: 1px solid #04a5a5;
}
.ccc{
    background-color: green;
}
.xxx{
    background-color: #444444;
}
.qqq{
    background-color: #d4d4d4;
}